.banner {
    padding-left: 40px;
    padding-right: 64px;
    background: #2D2D42;
    border-radius: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.banner__desc {
    padding-top: 40px;
}

.banner__image {
    overflow: hidden;
}

.banner__image-pic {
    width: 100%;
    overflow: hidden;
}

.desc__header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7A7A83;
    text-transform: uppercase;
}

.desc__content {
    padding-top: 45px;
    padding-bottom: 40px;
}

.content__header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.content__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7A7A83;
}

.content__btn {
    display: inline-block;
    margin-top: 40px;
    padding: 9px 30px 10px 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #CE6796;
    border-radius: 6px;
}