.CategoriesGamePageComponent{
position:relative;
width: 160px;
height: 180px;
background: #2D2D42;
border-radius: 10px;
margin-top:25px;
transition:all ease 0.3s;
}
.CategoriesGamePageComponent:hover{
background:#CE6796;

}
.AllCategories{
  display: flex;
  justify-content: space-between;
}
.ImageCategories{
position:absolute;
top:28%;
left:38.75%;
}
.TitleCategories{
  position:absolute;
  top:63%;
  width:160px;
  text-align:center;
  color:#fff;
}
