.CategoriesGamePageComponent{
position:relative;
width: 150px;
height: 180px;
  background: #212130;
border-radius: 10px;
margin-top:25px;
transition:all ease 0.3s;
}
.cards{
padding-left: 10px;
  padding-right: 10px;
}
.topComponent{
  background: #2D2D42;
  border-radius: 10px;
  min-height: 270px;
  min-width: 1080px;
}
.CategoriesGamePageComponent:hover{
background:#CE6796;
}
.AllCategories{
  display: flex;
}
.ImageCategories{
position:absolute;
top:28%;
left:38.75%;
}
.TitleCategories{
  position:absolute;
  top:63%;
  width:150px;
  text-align:center;
  color:#fff;
}
.ItemCard{
  display: inline;
  padding-bottom: 15px;
  padding-top: 20px;
}
