.CategoriesGame>ul{
  margin-top:15px;
}
.CategoriesGame>ul>li a{
  color: #7A7A83;
  text-decoration:none;

}
.AllChooseUL{
  display:flex;
}
.AllChooseLi{
  display:block;
  font-size: 14px;
  margin-right:30px;
  list-style:none;
  text-decoration: none;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  color: #7A7A83;;
}
.AllChooseLi:hover{
  text-decoration: none;
}
.fade-enter-active, .fade-leave-active {
transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
opacity: 0;
}
.AllCategoriesItem{
  position: absolute;
  background: #2D2D42;
border-radius: 10px;
margin-top:30px;
  width: 520px;
  height: 155px;
  z-index: 9999999;
}
.Animation-enter, .Animation-leave-to{
  transition: all 0.5s ease;
}
.Animation-leave-active{
  transition: all 0.5s ease;
  opacity: 0;
}
.AllUlBlock{
  display: flex;
  justify-content: space-between;
  margin-left: 14px;
  margin-top: 5px;
}
.LiBlock{
  width: 166px;
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}
.LiBlock1{
  width: 166px;
  margin-top: 10px;
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #7A7A83;
  display: flex;
  text-decoration: none;
}

.LiBlock1:hover{
  text-decoration: underline;
}
.AllChooseLi:hover{
  text-decoration: underline;
}
.LinkGerne{
  display: flex;
}
.UlComponent{
  margin-left:14px;
}
