.NewGameTitle{
  display:flex;
  justify-content:space-between;
  width:1035px;
}
.Title{
  color:#fff;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  text-transform:uppercase;
  line-height: 19px;
  margin-top: 20px;
  margin-left: 10px;
}
.NewsGamePage{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-gap: 30px;
  margin-top: 25px;
}
.NewGamePageComponent{
  margin-top: 122px;
}

.game_card {
  width: auto !important;
  margin: 0 !important;
}