.NewGameTitle{
  display:flex;
  justify-content:space-between;
  width:1035px;
}
.Title{
  color:#fff;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  text-transform:uppercase;
  line-height: 19px;
}
.NewsGamePage{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.NewGamePageComponent{
  margin-top: 122px;
}
