.wrapper{
	max-width:1110px;
	overflow:hidden;
	margin:0 auto;
}
.Slider{
	display:flex;
	transition: all ease 1s;
}

.ImageVector1{
	position:absolute;
	width:100px;
	height: 434px;
	transform:rotate(180deg);
top:86px;
left:30px;
	transition: 0.1s;
}
.ImageVector1:hover{
	opacity: 0.5;
}
.ImageVector2{
	position:absolute;
	width:100px;
	height: 434px;
	top:50px;
	left:1020px;
	transition: 0.1s;
}
.ImageVector2:hover{
	opacity: 0.5;
}
.strelka1{
	margin-top:200px;

}
.strelka2{
margin-top: 220px;
}
