.RecommendationGamePage{
margin-top:72px;
}
.RecommedationGameTitle{
display:flex;
justify-content:space-between;
}
.RecommendationComponents{
max-width:1110px;
display:block;
}
.ItemCard{
  display: inline;
}
