.uploadPage{
    width: 1110px;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
}
.nameInput{
    height: 40px;
    width: 300px;

}
.priceInput{
    width: 200px;
    margin-bottom: 10px;
}
.title{
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    border-bottom: 1px solid #313144;
    padding: 7px;
}

.generalInfo{
    margin-top: 20px;
    background: #2D2D42;
    border-radius: 10px;
    max-height: 550px;
    padding-left: 50px;
}
.blocks{
    padding-bottom: 30px;
}
.partTitle{
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    padding: 30px 0px 30px;
}

.textInputs{
    background: #212130;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    padding: 15px;
}
.thirdInpits{
    height: 150px;
    width: 400px;
}
.secondInputs{
    height: 80px;
    width: 250px;
}
.blockName{
    color: #D3D3D6;
    padding: 7px 0px 7px 0px;
}

.tip{
    color: #7A7A83;
    padding: 0px 0px 20px 0px;
}
label{
    padding-left: 13px;
}
.uploadBtn{
    background: #CE6796;
    border-radius: 6px;
    position: relative;
    width: 175px;
    height: 40px;
    color: #FFFFFF;
    margin-top: 20px;
    border: none;
    font-weight: 800;
}

.uploadBtn:hover{
    -moz-box-shadow:0 0 15px #CE6796;
    -webkit-box-shadow:0 0 15px #CE6796;
    box-shadow:0 0 15px #CE6796;
}
.UpLoad{
  width:120px;
  border-radius: 6px;
  background: #CE6796;
  margin-top: 10px;

}
input[type=file]{
  opacity: 0;

}
.UpLoadText{
  position: absolute;
  margin-top:1px;
  margin-left: 4px;
}
