.loginPage{
    font-family: Open Sans;
}

.login-form{
    background: #2D2D42;
    border-radius: 0px 10px 10px 0px;
    padding: 0;
    height: 450px;
}
.pic-form{
    border-radius: 10px 0px 0px 10px;
}
/*.data{*/
/*    position: absolute;*/
/*}*/
.login-pic{
    padding: 0;
    position: absolute;
    height: 490px;
    width: 550px;
    bottom: 5px;
}
p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
}

.head_login{
    padding-top: 40px;
    padding-bottom: 40px;
}

.next-btn{
    background: #CE6796;
    border-radius: 6px;
    position: relative;
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    margin-top: 10px;
    border: none;
}

.next-btn:hover{
    -moz-box-shadow:0 0 15px #CE6796;
    -webkit-box-shadow:0 0 15px #CE6796;
    box-shadow:0 0 15px #CE6796;
}
.form-control{
    background: #29293D;
    border-radius: 6px;
    width: 250px;
    height: 33px;
    color: #FFFFFF;
}

input{
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
}
#confirmPass{
    position: relative;
}
.password-control {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    right: 70px;
    -webkit-text-security: disc;
}

.confirmPass{
    width: 235px;
    display: inline-block;
    top: 0;
}

.confirmEye{
    top: 323px;
    color: #2D2D42;

}

.passEye{
    top: 257px;
}

.signin-link{
    font-style: normal;
    font-weight: normal;
    color: #F1F1F1;
    text-decoration: none;
    padding: 12px;
    font-size: 14px;
}

.signin-link:hover{
    text-decoration: underline;
}

.errors {
    position: absolute;
    font-size: 14px;
    left: 300px;
    bottom: 96px;
    margin-left: 26px;
    width: 230px;
    min-height: 40px;
    max-height: 65px;
    background: #212130;
    border-radius: 10px;
    box-shadow: 0 0 25px 0 #b6b6b6;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
}
.text{

}
.errors:before {
    content: "";
    position: absolute;
    right: 100%;
    top: calc(50% - 12px);
    border-top: 10px solid transparent;
    border-right: 20px solid #212130;
    border-bottom: 10px solid transparent;
}
.errors__mail{
    bottom: 290px;
}
.errors__name{
    bottom: 225px;
}
.errors__pass{
    bottom: 160px;
    position: absolute;
}
.eyeClick{
    cursor: pointer;
}
