.all-item{
  width:840px;
  display: flex;
  margin-top: 60px;
  padding-bottom: 62px;
  border-bottom:1px solid #414159;
}

.game-image{
  border-radius: 10px;
}
.content{
  margin-left:85px;
  margin-top: 57px;
}
.game-name{
  font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 19px;

color: #FFFFFF;
}
.game-info1{
  margin-top: 15px;
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #D3D3D6;
}
.game-info2{
  margin-top: 25px;
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #D3D3D6;
}
.details{
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #CE6796;
  margin-top:20px;
  display: flex;
}
.arrow-pig{
  margin-left:17px;
}
