.wrapper {
    margin: 0 auto;
    max-width: 1139px;
}

.game-card {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 200px;
}

.info-card {
    padding: 30px 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.info-card__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.info-card__author {
    margin-bottom: 20px;
}

.info-card p, .info-card span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.info-card__buy {
    display: flex;
    margin-bottom: 25px;
}

.buy__price {
    font-weight: bold;
    padding-left: 4px;
}

.buy__btn{
    display: flex;
    align-items: baseline;
    background: #CE6796;
    border-radius: 6px;
    position: relative;
    padding: 10px 25px;
    color: #FFFFFF;
    margin-top: 10px;
    border: none;
}

.buy__btn:hover{
    -moz-box-shadow:0 0 15px #CE6796;
    -webkit-box-shadow:0 0 15px #CE6796;
    box-shadow:0 0 15px #CE6796;
}

.buy__btn-ruble {
    display: inline-block;
    height: 12px;
}

.about-game {
    margin: 200px 366px 0 97px;
}

.game-info {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: calc(100% * 0.09);
}

.game__categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.category__titles, .category__values {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 20px;
}

.game-info__about {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

.about-game p, li {
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.full-banner {
    width: 100%;
    overflow: hidden;
}

.wrapper_2 {
    margin: 200px auto;
    max-width: 946px;
}

.desc__text {
    margin: 120px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.grid-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 31px;
}

.privacy-policy {
    margin-left: 367px;
    margin-top: 30px;
}

.privacy-policy__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.desc__show-reviews {
    display: block;
    padding-top: 20px;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #EDAF1F;
    cursor: pointer;
}

.banner {
    position: relative;
    transition: .2s;
}

.banner__right {
    position: absolute;
    right: 10px;
    top: 196px;
}

.banner__right:hover {
    opacity: 0.6;
}

.banner__right-pic {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.banner__left {
    position: absolute;
    left: 10px;
    top: 196px;
}

.banner__left:hover {
    opacity: 0.6;
}

.banner__left-pic {
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
    cursor: pointer;
}