.wrapper {
    margin: 0 auto;
    max-width: 1139px;
}

.game-card {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 200px;
}

.info-card {
    max-width: 322px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 67px;
    padding: 30px 86px 30px 30px;
}

.info-card__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 15px;
}

.info-card__author {
    margin-bottom: 20px;
}

.info-card p, .info-card span {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.info-card__buy {
    display: flex;
    flex-wrap: wrap;
}

.buy__price {
    font-weight: bold;
    margin-left: 30px;
    margin-top: 11px;
}

.buy__btn {
    padding: 11px 46px;
    text-decoration: none;
    background-color: #828282;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #000000;
}

.about-game {
    margin: 200px 366px 0 97px;
}

.game-info {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: calc(100% * 0.09);
}

.game__categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.category__titles, .category__values {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 20px;
}

.game-info__about {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 30px;
}

.about-game p, li {
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.full-banner {
    width: 100%;
    overflow: hidden;
}

.wrapper_2 {
    margin: 200px auto;
    max-width: 946px;
}

.desc__text {
    margin: 120px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.grid-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 31px;
}

.privacy-policy {
    margin-left: 367px;
    margin-top: 30px;
}

.privacy-policy__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}