.SpaceBetweenImageAndText{
    display:flex;
}

.InputFilterGames{
    width: 300px;
    height: 33px;
    background:#212130;
    margin-left:9px;
    border:none;
}

.InputFilterGames:active, :hover, :focus{
    outline:none;

}

.SpaceBetweenImageAndText{
    background-color:#212130;
    margin-left:20px;
}

.SearchImage{
    display:block;
    margin-top:0px;
    margin-right:10px;

}
.ListGame{
  position: absolute;
  margin-top: 15px;
  z-index: 20;
  background-color: #2D2D42;
  border-radius: 10px;
}
.name{
  width:300px;
}
input[type=search]{
    color:#fff;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.3);

}
.SearchItemGame{
  display: flex;
  width: 350px;
  height: 61px;
  border-radius: 10px;
  background-color: #2D2D42;
}
.SearchItemImage{
  width:120px;
  height: 45px;
  margin-top:8px;
  margin-left: 5px;
}
.BorderTop{
    position:relative;
    top:7px;
    width:350px;
    height:1px;
    background: #7A7A83;
}
.SearchItemName{
  margin-left: 25px;
  margin-top: 11px;
}
fade-enter{
  transition: 0.1s;
}
fade-leave{
  transition:  0.1s;
}
