@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    background: rgba(33, 33, 48, 0.9);
    z-index: 20;
}
#personal_account_title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.exit_btn {
    position: absolute;
    bottom: 15px;
}
#personal_account_info{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 416px;
}
#border_user_info{
    position: relative;
    width: 57%;
    height: 388px;
    background: #2d2d42;
    border-radius: 10px;
}
#img_container{
    position: relative;
    float: left;
}

#img_ellipse{
    margin-top: 30px;
    margin-left: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.file_click {
    cursor: pointer;
}

#img_case{
    position: absolute;
    left: 67px;
    top: 68px;
}
#img_case_ring{
    position: absolute;
    left: 75px;
    top: 78px;
}
#border_user_info_title{
    position: absolute;
    left: 160px;
    top: 56px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7A7A83;
}
#border_user_info_title_username_now{
    position: absolute;
    left: 160px;
    top: 71px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}
#border_user_info_title_username_change{
    position: absolute;
    top: 160px;
    left: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #D3D3D6;
}
#border_user_info_title_email_change{
    position: absolute;
    top: 160px;
    left: 333px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
#change_username_placeholder{
    position: absolute;
    left: 30px;
    top: 189px;
    width: 273px;
    height: 50px;
    background: #212130;
    border: 0;
    border-radius: 8px;
}
#changer_email_placeholder{
    position: absolute;
    left: 333px;
    top: 189px;
    width: 273px;
    height: 50px;
    background: #212130;
    border: 0;
    border-radius: 8px;
}
.change_button{
    position: absolute;
    top: 318px;
    left: 30px;
    width: 121px;
    height: 40px;
    background: #CE6796;
    border: 0;
    border-radius: 6px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
input{
    padding: 0 20px;
}
#change_password{
    position: absolute;
    left: 30px;
    top: 269px;
    border:none;
    padding:0;
    margin:0;
    color:#D3D3D6;
    background-color:transparent;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
#change_password:hover{
    text-decoration: underline;
}
.change_button:hover{
    -moz-box-shadow:0 0 15px #CE6796;
    -webkit-box-shadow:0 0 15px #CE6796;
    box-shadow:0 0 15px #CE6796;
}
#control_panel{
    position: relative;
    width: 40%;
    height: 388px;
    background: #2D2D42;
    border-radius: 10px;
}
#control_panel_title{
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.control_panel_list{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}
#control_panel_title_first{
    position: absolute;
    left: 30px;
    top: 80px;
}
.cp_title {
    position: absolute;
    left: 30px;
    top: 108px;
    margin-bottom: 10px;
    display: block;
}

#control_panel_button{
    border: 2px solid #CE6796;
    width: 184px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 140px;
    margin-left: 30px;
    background: transparent;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
#control_panel_button:hover{
    -moz-box-shadow:0 0 15px #CE6796;
    -webkit-box-shadow:0 0 15px #CE6796;
    box-shadow:0 0 15px #CE6796;
}