.wrapper {
    margin: 0 auto;
    max-width: 1140px;
}

.breadcrumb {
    display: inline-block;
}

.breadcrumb__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.8;
    text-decoration: none;
}

.breadcrumb__right {
    margin: 0 9px;
    color: #fff;
}