.GameComponentPopular{
  font-family: Open Sans;
  font-style: normal;
  position:relative;
  margin-right: 22px;
  display:inline-block;
  padding-top:25px;
}

.RatingAndTitlePopular{
  display:flex;
  justify-content:space-between;
  padding-top:24px;
}

.ImagePopular{
  overflow:hidden;
  width: 255px;
  height:324px;
  border-radius: 10px;
}

.ImageComponentPopular{
  position: absolute;
  width: 255px;
  height:324px;
  border-radius: 10px;
}

.ImagePopular{
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 }

.ImagePopular:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }

.NameGamePopular{
 position: relative;
 left: 0;
 font-weight: 800;
 font-size: 14px;
 line-height: 19px;
 color: #FFFFFF;
 }

.UnderNamePopular{
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #7A7A83;
 }
 .PriceAfter{
   font-weight: normal;
   font-size: 18px;
   line-height: 25px;
   color: #EDAF1F;
 }

.RatingAndTitlePopular > a {
  text-decoration: none;
  color: inherit;
}

.Footer {
  display: flex;
  justify-content: space-between;
}

.PriceBefore {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: line-through;
  color: #7A7A83;
}

.Sale-block {
  position: absolute;
  width: 255px;
  height: 30px;
  top: 324px;

  background: #EDAF1F;
  border-radius: 0px 0px 10px 10px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.Sale-value {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}
