@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}
.title{
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    margin-top: 20px;
}
.AllButton{
  display: flex;
  justify-content: space-around;
  margin-top:40px;
}
.button{
  width: 184px;
  height: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background: #2D2D42;
  border-radius: 6px;
  border:2px solid #CE6796;
}
.button:hover{
  background: #CE6796;
}
.Arrow1{
  background: none;
  border: none;
  transform: rotate(180deg);
}
.Arrow2{
  background: none;
  border: none;
}
.Arrow1Image{
  width: 24px;
  height: 24px;
}
.img-1{
    margin-top: 10px;
}
.Chart{
  margin-top: 41px;
  margin-left: 130px;
  width:470px;
  height:333px;
}
.AllDataButton{
  position: relative;
  left:60px;
  top:26px;
  width:352px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Data{
  width:97px;
  height: 27px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  background: #2D2D42;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.Data:hover{
  background: #CE6796;
  border:none;
}
.Download_statistics{
    width: 730px;
    height: 554px;
    background: #2D2D42;
    border-radius: 10px;
}
.body{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.Line{
  width: 430px;
  height: 260px;
}
.Bar{
  width: 227px;
  height: 200px;
}
.StatName{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
    margin-top: 30px;
  margin-left: 30px;
  color: #FFFFFF;
}
.StatName1{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  width:350px;
  text-align: center;
  position: relative;
  top:15px;
  color: #FFFFFF;
}
.Stata{
  position: relative;
  top:35px;
  margin-left: 15px;
  width: 320px;
  display: flex;
  justify-content:space-between;
  margin-bottom: 15px;
}
.watch_statistics{
    width: 350px;
    height: 212px;
    background: #2D2D42;
    border-radius: 10px;
}
.games-rating{
    width: 350px;
    height: 312px;
    margin-top:30px;
    background: #2D2D42;
    border-radius: 10px;
}
