.reviews__wrapper {
    margin: 0 auto;
    max-width: 946px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}



.activeForm {
    transform: rotate(180deg);
}

.filter__text {
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.filter__icon {
    margin-left: 10px;
}

.filter__link {
    text-decoration: none;
}

.replay__link {
    text-decoration: none;
}

.replay__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.replay__icon {
    margin-left: 10px;
}

.reviews__replay {
    margin-top: 30px;
    margin-bottom: 20px;
}

.review__card {
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 14% 86%;
}

.review__card:first-child {
    margin-top: 30px;
}

.review__header {
    display: flex;
    flex-wrap: wrap;
}

.review__rating {
    margin-left: 30px;
}

.review__text {
    margin-top: 17px;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);

}

.review__title {
    margin-top: 2px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.review__username {
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
}

.send_btn {
    width: 157px;
    height: 33px;
    border-radius: 6px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
    background: #CE6796;
}

.send_btn:hover {
    -moz-box-shadow:0 0 15px #CE6796;
    -webkit-box-shadow:0 0 15px #CE6796;
    box-shadow:0 0 15px #CE6796;
}
.send_block {
    margin-bottom: 20px;
}
.replay__link {
    cursor: pointer;
}
.sms {
    height: 70px;
    width: 555px;
    padding: 6px 16px;
    border-radius: 6px;
    border: 0;
    resize: none;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
    background: #29293D;
}

.sms__header {
    height: 25px;
    width: 263px;
    padding: 6px 16px;
    border-radius: 6px;
    border: 0;
    resize: none;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
    background: #29293D;
    margin-bottom: 16px;
}

.textInputs{
    background: #212130;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    padding: 15px;
    min-width: 100px;
}
#window {
    display: block;
    width: 550px;
}
.rating_label {
    display: inline-block;
    padding-bottom: 15px;
}

.rating {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
